@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Font Style */
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.primary-color{
    background-color: #1A0B2E;
}
.text-white{
    color: #FFFFFF;
}

.display-flex{
    display: flex;
}


/* Navbar Style */

.navbar{
    max-width: 1600px;
    width: 100%;
    height: 85px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-links{
    text-decoration: none;
}
.nav-btn{
    justify-content: center;
    align-items: center;
    gap: 2px;
    border:none;
    border-radius: 10000px;
    padding: 12px 16px;

    background:linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8) ;
    background-size: 300% 300%;
    animation: animated-button 5s ease infinite;   

    font-size: 16px;
    font-weight: 600;
}
@keyframes animated-button{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
