*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Font Style */
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.primary-color{
    background-color: #1A0B2E;
}
.text-white{
    color: #FFFFFF;
}

.display-flex{
    display: flex;
}


/* Navbar Style */

.navbar{
    max-width: 1600px;
    width: 100%;
    height: 85px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-links{
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
}

/* nav button */
.gradient-btn{
    justify-content: center;
    align-items: center;
    gap: 2px;
    border:none;
    border-radius: 10000px;
    padding: 12px 16px;
    background:linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8) ;
    background-size: 300% 300%;
    animation: animated-button 5s ease infinite;   

    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
@keyframes animated-button{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* banner section syle */
#banner{
    max-width: 1600px;
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    /* border: 5px solid red; */
    
    
}
.banner-container{
    display: flex;
    flex-direction: column;   
    justify-content: center;   
    align-items: center;   
    margin: 0 auto;
    text-align: center;          
    gap: 24px;  


    width: 100%;
    max-width: 550px;
  
}
/* banner-image */
.banner-img{
    position: relative;
    justify-content: center;
    align-items: center;
    /* width: fit-content; */
    margin: 0 auto;
    max-width: 350px;
    margin-top: 100px;
}
.circle{
    position: relative;
    z-index: 1;
}
.circle img{
    display: block;
    max-width: 350px;
    width: 100%;
    height: auto;
}
.microphone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.microphone img{
    max-width: 120px;
    height: auto;
}
/* banner-description */
.banner-decription{
    text-align: center;
    color: #FFFFFF;
}
.banner-decription h1{
    font-size: 3.75em;
    font-weight: 800;  
    margin-bottom: 4px;
}
.banner-decription p{
    font-size: 1em;
    font-weight: 400;

    max-width: 550px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    margin: 0;
    
}
/* banner-btn */
.banner-btn{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 50px;
}
.subscribe-btn{
    justify-content: center;
    align-items: center;
    gap: 3px;
    border:2px solid #00FF88;
    border-radius: 10000px;
    padding: 12px 16px;

    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;

    background: transparent;
    cursor: pointer;

}

/* ---------------------- */
/* about section style */
#about{
    background-color: #1A0B2E;
    max-width: 1600px;
    width: 100%;

    /* border: 5px solid palevioletred; */

}
.about-heading{
    max-width: 1200px;
    width: 100%;
    /* height:150px; */
    text-align: center;
    color: #FFFFFF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    padding-top: 120px;
}
.about-heading h2{
    font-size: 3em;
    font-weight: 700;

    margin: 0 auto;
}

.about-heading p{
    font-size: 1em;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    max-width: 800px;
    margin-bottom: 0;
}
.about-span{
    padding: 30px;
    display: block;
}

hr{
    max-width: 800px;
    background-color: #3b3737;
    margin: 80px auto;
    border: none;
    height: 0.5px;
}

.about-info{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap:80px;

    padding-bottom: 120px;
    /* margin-bottom: 120px; */
}
.about-info h2{
    color: #00FF88;
    font-size: 3em;
    font-weight: 900;
    text-align: center;

    margin-bottom: 0;
}
.about-info p{
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 400;
    line-height: 0.2;
    text-align: center;

}

/* ------------------- */
/* why-section style */
#why-section{
    background-color: #230E3D;
    /* margin: 0 auto; */
    padding: 100px 0;

}

.why-container{
    max-width: calc(100% - 300px);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.why-container h2{
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 30px;
    font-size: 3em;
    font-weight: 700;
       
}

.why-choose{
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    grid-template-rows: repeat(3, 230px);
    gap: 30px;
    width: 100%;

}

.card{

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: none;
    background-color: #351165;
    border-radius: 40px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 14px; 
    justify-content: center;
   
}
.why-choose , .card h3 p{
    color: #FFFFFF;
}
.card h3{
    font-size: 1.5em;
    font-weight: 700;
}
.card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.long-layout{
    grid-row: span 2;
    grid-column: span 1;
}
.wide-layout{
    grid-row: span 1;
    grid-column: span 2;
}
.normal-layout{
    grid-row: span 1;
    grid-column: span 1;
}

.why-choose img{
    height: 50px;
    width: 50px;
}


/* ---------------------- */
/* Episode section style */
#episode{
    background-color: #1A0B2E;
    padding: 100px 0;
}
.episode-cotainer{
    max-width: calc(100% - 400px);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.episode-cotainer h2{
    color: #FFFFFF;
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}
.featured-episodes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;

}
.video-card{
    background-color: #250D44;
    border-radius: 40px;
    height: 440px;
    width: 350px;

    display: flex;
    flex-direction: column;
    gap: 24px;
}
.video-card iframe{
  width: 350px;
  height: 220px;
  border-radius: 40px;

  box-sizing: border-box;
}
.video-title,
.video-description{
    color: #FFFFFF;
    margin:0 24px 0;
}
.video-title{
    font-size: 1.5em;
    font-weight: 700;
    line-height: 24px;
}
.video-description{
    font-size: 1em;
    font-weight: 400;
}
.duration{
    margin: 0 24px 0;
    gap: 4px;
}
.duration p{
    color: #00FF88;
    font-size: 1em;
    font-weight: 600;
}

/* -------------------- */
/* host section */
#host-section{
    background-color: #1A0B2E;
    padding: 100px 0;
}
.host-container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.host-container h2{
    color: #FFFFFF;
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}
.host{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 30px;
    background-color: #250D44;
    padding: 40px;
}
.host-intro h3{
    color: #FFFFFF;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 16px;
}
.host-intro p{
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 400;
    line-height: 24px;
}
.host-social{
    gap: 10px;
    position: relative;
    margin-top: 16px;
}
.host-social .image{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 0.5px solid #3b3737;
    position: relative;
    z-index: 1;
}
.host-social .image img{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    
}

/* ------------------- */
/* footter section style */
#footer{
    background-image:url("../assets/footer-bg.png") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #FFFFFF;

    max-width: 1600px;
    width: 100%;
    
    padding: 60px 20px;

}
.footter-logo{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 30px;
}
.logo-png img{
    width: 400px;
    max-width: 100%;
    height: auto;
    padding: 60px 0 0;
}
.brands{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 24px;

}
.brand{
    display: flex;
    gap: 8px;

}
.brand img{
    width: 20px;
    height: 20px;
}
.brand p{
    font-size: 1em;
    font-weight: 500;
}
.copyright-text{
    margin-top: 32px;
    font-size: 1em;
    font-weight: 400;
}


/* --------------------------------- */
/* Responsive for mobile device */
@media screen and (max-width:576px) {
   .navbar {
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        height: auto; 
        padding: 12px 16px;
        gap: 5px;
    }
    .navbar img{
        max-width: 150px;
        height: auto;
    }
    .gradient-btn{
        max-width: 150px;
        width: 100%;
        font-size: 14px;
    }

    /* responsive banner */
    #banner, .banner-container{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* height: auto; */
    }
    #banner{
        background-image: url("../assets/hero-bg.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: auto;
    }
    .banner-container{
        margin:20px;
    }
    .banner-img{
        max-width: 350px;
        width: 100%;
        max-width: 350px;
    }
    .banner-decription {
        width: 100%;
        padding: 10px;
        text-align: center;
    }
    .banner-decription h1{
        font-size: 1.8em;
    }
    .banner-decription p{
        font-size: 1.10em;
        margin: 0px 20px;
    }

    /* .banner-btn button{
        font-size: 14px;
        padding: 8px 12px;

    } */

    /* responsive about section */
    #about{
        width: 100%;
    }
    .about-heading{
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
    }

    .about-heading h2{
        font-size: 24px;
        font-weight: 600;
        margin: 0 auto;
        margin-bottom: 20px;

    }
    .about-heading p{
        font-size: 12px;
        letter-spacing: 0%; 
        /* line-break: anywhere; */

        padding: 0 30px;
        margin-right: 18px;
        margin-left: 18px;

    }
    .about-span{
        margin-top: 12px;
        font-size: 14px;
    }

    hr{
        margin-bottom: 30px;
    }

    .about-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 200px);

        justify-content: center;
        align-items: center;
        margin: 0px auto;
        gap: 20px;
        
    }
    .about-info p{
        font-size: 14px;
        font-weight: 400;
        line-height: 1.6;
        text-align: center;

    }


    /* responsive why-section */
    #why-section{
        padding: 60px 0;
    }
    .why-container{
        max-width: 100%;
        padding: 0 18px;
    }
    .why-container h2{
        font-size: 24px;
        margin-bottom: 20px;

    }
    .why-choose{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap:10px
    }
    .long-layout,
    .wide-layout,
    .normal-layout{
        grid-column: span 1;
        grid-row: span 1;
    }
    .card{
        padding: 20px;
        border-radius: 24px;
        height: auto;
    }
    .card img{
        width: 20px;
        height: 20px;
        margin-left: 18px;
    }
    .card h3{
        font-size: 1.1em;
        margin-left: 18px;
    }
    .card p{
        font-size: 12px;
        line-height: 1.6;
        margin-left: 18px;
        margin-right: 18px;
    }
    .why-choose img{
        width: 40px;
        height: 40px;
    }

    /* responsive episode section */
    #episode{
        padding: 60px 0;
    }
    .episode-cotainer{
        max-width: 100%;
        /* padding: 0, 20px; */
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
    .episode-cotainer h2{
        font-size: 1.8em;
        margin-bottom: 20px;
        text-align: center;

    }
    .featured-episodes{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        /* width: 100%; */
    }
    .video-card{
        padding: 20px;
        border-radius: 24px;
        /* height: auto; */
    }
    .video-card iframe{
        border-radius: 16px;
        width: 100%;
        display: block;

        box-sizing: border-box;
    }
    .video-title{
        font-size: 1.1em;
    }
    .video-description{
        font-size: 12px;
        line-height: 1.6;
    }
    .duration{
        align-items: center;
        gap: 4px;
        
    }
    .duration img{
        height: 16px;
        width: 16px;
    }

    /* responsive host-section */
    #host-section{
        padding: 30px 0;
    }
    .host-container{
        max-width: 100%;
        box-sizing: border-box;
        padding: 0 20px;
    }
    .host-container h2{
        font-size:1.8em ;
    }
    .host{
        display: grid;
        grid-template-areas: "host-image" "host-intro" "host-social";
        grid-template-columns: 1fr;
        gap: 20px;                   
        padding: 24px;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        margin: 0 auto
    }

    .host-intro{
        padding: 0, 20px;
    }
    .host-intro h3{
        font-size: 1.5em;
    }
    .host-intro p{
        font-size: 12px;
        line-height: 1.6;
    }
   .host-social {
        grid-area: buttons;
        display: flex;
        justify-content: center;     
        gap: 12px;
        margin-top: 16px;
    }

    /* responsive-footer */
    #footer{
        width: 100%;
        background-image: url("../assets/footer-bg.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .footer-logo, 
    .copyright-text{
        max-width: 400px;
        width: 100%;
    }

    .logo-png img{
        width: 200px;
        max-width: 100%;
        height: auto;
        padding: 30px 0 0;
    }
    .brands{
        display: flex;
        flex-wrap: wrap;

        /* display: grid;
        grid-template-columns: repeat(2, 1fr); */
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 24px 30px 0;
        padding: 0 30px;
        box-sizing: border-box;
        
    }
    .brand{
        display: flex;
        gap: 10px;
    }
    .brand p{
        font-size: 12px;
        /* line-height: 1.6; */
    }
    .brand img{
        width: 12px;
        height: 12px;
    }
    .copyright-text p{
        font-size: 12px;
        padding: 0 30px;
    }

}